<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form th:action="@{/employee}" method="post" th:object="${employee}">
        <label th:for="name">Name: </label>
        <input th:field="*{name}" type="text"><br>
        <label th:for="age">Age: </label>
        <input th:field="*{age}" type="text"><br>
        <label th:for="phoneNumber">Phone number: </label>
        <input th:field="*{phoneNumber}" type="text"><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>